.nav{  
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background-color:rgb(76, 34, 175);
  padding:0 20px;
  height:50px;
  align-items:center; 
  margin:8px; 
}

.nav > * {
  padding-right: 20px;
  color:white;
  text-decoration:none; 
}

body {
  display: block;
  margin: 10px;
}

.istock{
  font-size:24px; 
  font-weight:700; 
  color:white; 
  padding-right:20px;
  display:inline;
  text-decoration:none; 
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}